@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background: #fff;
  border-radius: 5px;
  font-size: 4rem;
  /* height: max-content; */
  margin: 10px auto;
  padding: 0 15px;
  width: 175px;
}

.diamonds,
.hearts {
  color: red;
}

.clubs,
.spades {
  color: black;
}

.rotate-180 {
  transform: scale(-1);
}

.d-inline-block {
  display: inline-block;
}

.fs-1 {
  font-size: 5rem !important;
}

.fs-2 {
  font-size: 4rem !important;
}

.fs-3 {
  font-size: 3rem !important;
}

.fs-4 {
  font-size: 2rem !important;
}

.fs-5 {
  font-size: 1rem !important;
}
